name: heartguard_app
description: HeartGuard mobile dashboard (FastAPI + WebSocket)
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_riverpod: ^2.5.1
  dio: ^5.7.0
  web_socket_channel: ^2.4.5
  fl_chart: ^0.69.0
  intl: ^0.19.0
  flutter_local_notifications:

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
